@charset "UTF-8"

;@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Android;
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
}

/*
  #c5ebd6
  #83a1d3
  #3ddc84
  #2fa866
  #1a5c37
  #063d1e
*/

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", serif;
    --fonte-android: 'Android', 'cursive';

}

* {
   margin: 0px;
   padding: 0px;
}

main p{
   margin:15px 0px 15px 0px ;
   text-align: justify;
   text-indent: 25px;
   font-size: 1em;
   line-height: 1.7em;

}


body{
    background-color: #64f3a4;
    font-family: var(--fonte-padrao);
}

a.externo{
  content: '\1F1517';
}

header{
   background-image: linear-gradient(to bottom, var(--cor3), var(--cor4), var(--cor5));
   min-height: 150px;
   text-align: center;
   padding-top: 33px;
}

header > h1{
   color: white;
   font-size: 2.5em;
   font-family: var(--fonte-destaque);
   font-weight: normal;
   margin-bottom: 15px;
   text-shadow: 2.5px 2.5px 4px rgba(0, 0, 0, 0.795);

}

header > p {
   color: white;
   font-size: 1.2em;
   font-family: var(--fonte-padrao);
   max-width: 500px;
   margin: auto;
   padding-left: 13px;
   padding-right: 13px;
   text-shadow: 1.8px 1.8px 0px rgba(0, 0, 0, 0.781);
}

nav{
  background-color: var(--cor5);
  padding: 10px;
  box-shadow: 0px 5px 7.5px rgba(0, 0, 0, 0.678);
}

nav > a{
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.6s;
}

nav > a:hover{
  background-color: #2fa86588;
  color: var(--cor5);
}


main{
  min-width: 300px;
  max-width: 1000px;
  background-color: white;
  margin: auto;
  margin-bottom: 25px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.692);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;

}


main h1{
  color: var(--cor5);
  font-family: var(--fonte-android);
  font-size: 1.8em;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3;
    font-weight: normal;
    background-image: linear-gradient(to right,  var(--cor0), white);
    text-indent: 8px;
}

main a{
  color: var(--cor3);
  text-decoration: none;
  font-weight: bold;
  background-color: #83e1ad3b;
  padding: 2px 5px;
  border-radius: 2.7px;
  
}

main a:hover{
  text-decoration: underline;
  color: #3ddc85d3;
}

main img{
   width: 100%;
   
}

main img.pequena{
  display: block;
  max-width: 350px;
  margin: auto;
}

main img.bonecos{
  width: 80%;
  display: block;
  margin: auto;
}

aside{
  background-color: #c5ebd6;
  padding: 10px;
  border-radius: 10px;
}

aside > h3{
  background-color: #2fa866;
  border-radius: 7px 7px 0px 0px;
  color: white;
  padding: 5px;
  margin: -10px -10px 0px -10px;
}

aside > ul {
  list-style-position: inside;
  columns: 2;
  text-decoration: underline;
  color: black;
}

footer{
  background-color: var(--cor5);
  color: #3ddc84;
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}

footer > a{
   color: white;
   text-decoration: none;
   font-weight: bolder;
}

footer > a:hover{
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.753);
}

main strong{
  color: var(--cor3);
  font-weight: bold;
}

div.video{
  background-color: #1a5c37;
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 59%;
  position: relative;
}

div.video > iframe{
  
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;

}
